# project name : Household Consumption Expenditure Survey


# project summary 
The Household Consumption Expenditure Survey(HCES) in India provides insights into household spending patterns and living standards. Recent data from the 2023-24 survey indicates an increase in Monthly Per Capita Expenditure (MPCE) in both rural and urban areas, with a decrease in the urban-rural gap. The survey also reveals a decline in consumption inequality in both rural and urban areas.



# Problem statement :
The HCES data (Household Consumption Expenditure Survey) faces several problem statements including underreporting of certain expenditures, non-sampling errors, outdated definitions, and potential for manipulation or suppression for political reasons. Furthermore, discrepancies between NSSO and National Accounts data, and challenges in comparing surveys with different recall periods or definitions (rural areas, poverty lines) also pose issues, according to Shankar IAS Parliament.

In [3]:
import numpy as np 
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt 
import warnings

In [4]:
df=pd.read_csv('ministry of statical( House hold ).csv')
pd.set_option('display.max_columns',None)

In [5]:
pwd

'C:\\Users\\DELL'

In [6]:
df.head(10)

,HH_ID,Sector,State,NSS-Region,District,Household Type,Religion of the head of the household,Social Group of the head of the household,HH Size (For FDQ),NCO_3D,NIC_5D,Weight,Is_online_Clothing_Purchased_Last365,Is_online_Footwear_Purchased_Last365,Is_online_Furniture_fixturesPurchased_Last365,Is_online_Mobile_Handset_Purchased_Last365,Is_online_Personal_Goods_Purchased_Last365,Is_online_Recreation_Goods_Purchased_Last365,Is_online_Household_Appliances_Purchased_Last365,Is_online_Crockery_Utensils_Purchased_Last365,Is_online_Sports_Goods_Purchased_Last365,Is_online_Medical_Equipment_Purchased_Last365,Is_online_Bedding_Purchased_Last365,Is_HH_Have_Television,Is_HH_Have_Radio,Is_HH_Have_Laptop_PC,Is_HH_Have_Mobile_handset,Is_HH_Have_Bicycle,Is_HH_Have_Motorcycle_scooter,Is_HH_Have_Motorcar_jeep_van,Is_HH_Have_Trucks,Is_HH_Have_Animal_cart,Is_HH_Have_Refrigerator,Is_HH_Have_Washing_machine,Is_HH_Have_Airconditioner_aircooler,TotalExpense,person_count,avg_age,max_age,min_age,gender_1_count,gender_2_count,gender_3_count,avg_education,max_education,No. of meals usually taken in a day_sum,"No. of meals taken during last 30 days from school, balwadi etc._sum",No. of meals taken during last 30 days from employer as perquisites or part of wage_sum,No. of meals taken during last 30 days others_sum,No. of meals taken during last 30 days on payment_sum,No. of meals taken during last 30 days at home_sum,No. of meals usually taken in a day_mean,"No. of meals taken during last 30 days from school, balwadi etc._mean",No. of meals taken during last 30 days from employer as perquisites or part of wage_mean,No. of meals taken during last 30 days others_mean,No. of meals taken during last 30 days on payment_mean,No. of meals taken during last 30 days at home_mean,internet_users_count
0,HCES2024447871202020213015220121307,1,20,202,2,1,1,3,6,611.0,1500.0,440.38,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,16107.27593,4,43.750000,65,15,2,2,0,10.000000,11.0,12,0,0,0,0,360,3.000000,NaN,NaN,NaN,NaN,90.000000,6
1,HCES2024234532171710612012117101301,2,17,171,6,9,3,1,3,NaN,NaN,51.15,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,14795.76517,2,56.500000,60,53,1,1,0,4.000000,4.0,4,0,0,0,24,96,2.000000,0.0,0.0,0.000000,12.0,48.000000,3
2,HCES2024404201333321323127233134318,1,33,332,13,1,1,3,3,611.0,1124.0,1235.29,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,1,0,0,11305.79256,2,46.000000,62,30,2,0,0,10.000000,14.0,6,0,0,0,7,173,3.000000,NaN,NaN,NaN,7.0,86.500000,3
3,HCES2024470731090936623172209242318,1,9,93,66,6,1,3,16,931.0,41001.0,1684.38,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,1,1,0,0,0,0,0,0,30437.91194,14,30.142857,75,5,7,7,0,7.727273,11.0,33,4,0,0,0,990,2.357143,1.0,NaN,NaN,NaN,70.714286,23
4,HCES2024494541191951323057119112308,1,19,195,13,1,2,3,7,631.0,1124.0,1466.12,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,1,0,0,0,0,0,0,0,12887.04501,6,26.333333,53,1,3,3,0,6.000000,7.0,17,0,0,20,0,490,2.833333,0.0,0.0,3.333333,0.0,81.666667,8
5,HCES2024421451272712123028227211314,1,27,271,21,2,1,3,6,731.0,10799.0,900.68,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,27541.18591,4,20.250000,35,7,2,2,0,4.500000,7.0,12,0,0,0,0,360,3.000000,NaN,NaN,NaN,NaN,90.000000,4
6,HCES2024466641010120613017101101315,1,1,12,6,9,2,1,7,NaN,NaN,242.01,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,14092.95303,6,18.833333,48,4,2,4,0,9.250000,14.0,18,0,0,0,0,540,3.000000,NaN,NaN,NaN,NaN,90.000000,8
7,HCES2024279682090936512045109241309,2,9,93,65,1,1,2,8,631.0,1139.0,668.80,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,1,1,0,0,0,0,0,0,22075.53033,6,34.333333,90,7,2,4,0,9.666667,17.0,14,0,0,0,0,420,2.333333,NaN,NaN,NaN,NaN,70.000000,9
8,HCES2024241762333340711015133121316,2,33,334,7,1,1,3,3,141.0,56302.0,34.68,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,1,1,0,18030.42661,3,39.666667,52,22,2,1,0,16.000000,17.0,9,0,0,0,0,270,3.000000,NaN,NaN,NaN,NaN,90.000000,4
9,HCES2024278632101011412023210101305,2,10,101,14,2,2,3,10,723.0,33150.0,436.32,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,1,0,0,0,0,0,0,0,28397.39335,8,30.750000,65,2,5,3,0,11.000000,15.0,23,0,0,0,0,690,2.875000,NaN,NaN,NaN,NaN,86.250000,10

In [ ]:
df.shape

In [ ]:
df.select_dtypes(include=['int','float'])

In [ ]:
# check information in data
df.info()

In [ ]:
# check the discription 
df.describe()

# impute the one hot label coding in textual value

In [7]:
df1=df.head()

In [8]:
df['Sector'].unique()

array([1, 2], dtype=int64)

In [9]:
sector_dis={1:'rural',2:'urban'}
df['Sector']=df['Sector'].map(sector_dis)

In [10]:
df['Sector'].unique()

array(['rural', 'urban'], dtype=object)

In [ ]:
!pip install pdfplumber
import pdfplumber
with pdfplumber.open(r"C:\Users\DELL\Downloads\List of State Code.pdf") as pdf:
  for page in pdf.pages:
    text = page.extract_text()
    print(text)

In [ ]:
##impute state 

state_dict = {
    35:"Andaman and Nicobar Islands",
    28:"Andhra Pradesh",
    37:"Andhra Pradesh NEW",
    12:"Arunachal Pradesh",
    18:"Assam",
    10:"Bihar",
    4:"Chandigarh",
    22:"Chattisgarh",
    26:"Dadra and Nagar Haveli",
    25:"Daman and Diu",
    7:"Delhi",
    30:"Goa",
    24:"Gujarat",
    6:"Haryana",
    2:"Himachal Pradesh",
    1:"Jammu and Kashmir",
    20:"Jharkhand",
    29:"Karnataka",
    32:"Kerala",
    31:"Lakshadweep Islands",
    23:"Madhya Pradesh",
    27:"Maharashtra",
    14:"Manipur",
    17:"Meghalaya",
    15:"Mizoram",
    13:"Nagaland",
    21:"Odisha",
    34:"Pondicherry",
    3:"Punjab",
    8:"Rajasthan",
    11:"Sikkim",
    33:"Tamil Nadu",
    36:"Telangana",
    16:"Tripura",
    9:"Uttar Pradesh",
    5:"Uttarakhand",
    19:"West Bengal",
}

df['State']=df['State'].map(state_dict)

In [ ]:
df['State'].unique()

In [ ]:
# impute householdtype 

Household_Type_code={1:'self-employed in agriculture',
2:'self-employed in non-agriculture',
3:'regular wage/salaried earning in agriculture' ,
4:'regular wage/salaried earning in non-agriculture',
5:'casual labour in agriculture' ,
6:'casual labour in non-agriculture' ,
9:'others' }

df['Household Type']=df['Household Type'].map(Household_Type_code)

In [ ]:
df['Household Type'].unique()

In [ ]:
df.head(10)

In [ ]:
df['Religion of the head of the household']

In [ ]:
##  impute religion of the head of the household 

Religion_dis={ 1:'Hindu',2:'Muslim',3:'Christian',4:'Sikh',5:'Buddhist/Neo-Buddhist',6:'Jain',7:'Other religions and persuasions',8:'Religion not stated'}
df['Religion of the head of the household']=df['Religion of the head of the household'].map(Religion_dis)
df['Religion of the head of the household'].unique

In [ ]:
df['Religion of the head of the household'].unique

In [ ]:
df.head(10)

In [ ]:
## impute Social Group of the head of the household


social_group_codes = {
    0: "Not Reported",
    1: "scheduled tribe (ST)",
    2: "scheduled caste (SC)",
    3: "other backward class (OBC)",
    9: "Not Known"
}

df['Social Group of the head of the household']=df['Social Group of the head of the household'].map(social_group_codes )
df['Social Group of the head of the household'].unique()

In [ ]:
df['Social Group of the head of the household'].unique()

In [ ]:
df

In [ ]:
df['NCO_3D'].unique()

In [ ]:

### impute nco_3d


import pdfplumber
import re

nco_dict = {}

with pdfplumber.open(r"C:\Users\DELL\Downloads\NCO_codelist.pdf") as pdf:
    for page in pdf.pages:
        text = page.extract_text()
        if text:
            matches = re.findall(r'(\d{3})\s+([A-Za-z,\-()&/.\' ]+)', text)
            for code, title in matches:
                if 100 <= int(code) <= 999:  
                    nco_dict[int(code)] = title.strip()

# Print or use the dictionary
for k, v in nco_dict.items():
    print(f"{k}: '{v}'")

In [ ]:
df.head(10)

In [ ]:
## impute 0 and 1 as yes and no
for i in df.columns:
    if i.startswith('Is'):
        
        # Before Imputing
        print(f"Before Impute in {i}: {df[i].unique()}")

        # Imputation
        online_purchased = {
            0 : 'No',
            1 : 'Yes'
        }
        df[i] = df[i].map(online_purchased)

        # Before Imputing
        print(f"After Impute in {i}: {df[i].unique()} \n")

        print('*'*70, '\n')

In [ ]:
df.head(6)

# Remane the column name

In [ ]:
df.rename(columns={'gender_1_count' :'male'	,'gender_2_count':'female' ,	'gender_3_count':'transgender'})

In [ ]:
## fill the null value

In [ ]:
df.isnull().sum()

In [ ]:
for i in df.columns:
    if df[i].dtypes != 'object':
        df[i] = df[i].fillna(df[i].median())
    else:
        df[i] = df[i].fillna(df[i].mode()[0])

In [ ]:
df.isnull().sum()

In [ ]:
df.head(10)

# find the outlier

In [ ]:
numeric_cols = df.select_dtypes(include=['int64', 'float64']).columns
print(numeric_cols)

In [ ]:
for col in numeric_cols:
    plt.figure(figsize=(8, 1.5))
    sns.boxplot(x=df[col], color='skyblue')
    plt.title(f"Boxplot for {col}")
    plt.show()

In [ ]:
df.describe()

In [ ]:
## EDA

In [ ]:
# UNIVARIANT

In [ ]:
# SECTOR WISE COUNT 

sns.countplot(x='Sector',data=df)
plt.title('sector wise count')
plt.show()

In [ ]:
state_wise_expanse=df.groupby('State')['TotalExpense'].mean().round(0).astype(int).reset_index()

In [ ]:
state_wise_expanse

In [ ]:
plt.figure(figsize=(15,4))
sns.barplot(x='State',y='TotalExpense',data=state_wise_expanse,palette ='bright')
plt.title('State wise Average Expanse',color='black',fontsize=20)
plt.xlabel('State Name',color='black',fontsize=14)
plt.ylabel('Average Expense',color='black',fontsize=14)
plt.xticks(rotation=90)
plt.show()

In [ ]:
## find outlier

In [ ]:
def outliers(data):
  outlier_col={}
  col=data.select_dtypes(include=[int,float]).columns
  for i in col:
    mean=data[i].mean()
    std=data[i].std()
    z_score=(data[i]-mean)/std
    outliers=data[np.abs(z_score) >3]
    if not outliers.empty:
      outlier_col[i]=outliers.index.tolist()
  return outlier_col

data=df
print(outliers(data))
wvt-isas-xmb

In [ ]:
df.columns

NameError: name 'df1_to_csv' is not defined